<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Blog APP</title>

    <link rel="stylesheet" href="/stylesheets/app.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color: #778899;">

    <div class="container-fluid">
        <div class="navbar-nav">
            <a class="navbar-brand" href="/restaurant" >Restaurant</a>
        </div>

        <div class="navbar-nav collapse navbar-collapse ">
            <a class="nav-link nav-item" href="#">Login</a>
            <a class="nav-link nav-item" href="#">Sign up</a>
            <a class="nav-link nav-item" href="#">Log out</a>

        </div>


    </div>
</nav>
