<% include partials/header.ejs %>
<div class="container">


    <header class="jumbotron">
        <h1> this is index</h1>
    </header>
    <a href="/restaurant"> go to restaurantList</a>

</div>
<% include partials/footer.ejs %>