<% include partials/header.ejs %>
<div class="container undernav">

    <h2> <%= restaurant.name %></h2>
    <img src="<%=restaurant.image%>">
    <p><%= restaurant.description %></p>
</div>
<% include partials/footer.ejs %>