<% include ../partials/header.ejs %>


<div class="container">

    <header class="jumbotron undernav">
        <div class="container">
            <h1> restaurantList</h1>
            <p> Your <strong>BEST</strong> restaurant Recommendation System </p>
            <a href="/restaurant/new" class="btn btn-outline-primary"> Add restaurant</a>
        </div>
    </header>


    <div class="row text-center">
        <% restaurants.forEach(function (restaurant) { %>
        <div class="col-md-3 col-sm-6 ">
            <div class="card my-2">
                <img class="img-thumbnail" src="<%= restaurant.image %>">
                <div class="card-body">
                    <p class="card-text"><%= restaurant.name %></p>
                    <div>
                        <a href = "/restaurant/<%=restaurant._id%>" class="btn btn-link ">More info</a>
                    </div>
                </div>
            </div>

        </div>
        <% }) %>
    </div>




</div>
<% include ../partials/footer.ejs %>